<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Demo" parallel="tests" thread-count="4">



	<parameter name="URL" value="http://demowebshop.tricentis.com/"></parameter>
	<parameter name="Email" value="rohans@gmail.com"></parameter>
	<parameter name="Pass" value="rohan1234"></parameter>
	<test name="Test">
		<classes>
			<class name="test.WorkingOnDemoWebShopRegistera" />
		</classes>
	</test> <!-- Test -->




	<parameter name="URL" value="http://demowebshop.tricentis.com/"></parameter>
	<parameter name="Email" value="rohans@gmail.com"></parameter>
	<parameter name="Pass" value="rohan1234"></parameter>
	<test name="Test">
		<classes>
			<class name="test.WorkingOnDemoWebShopLogin" />
		</classes>
	</test> <!-- Test -->


	<parameter name="URL" value="http://demowebshop.tricentis.com/"></parameter>
	<parameter name="Email" value="rohans@gmail.com"></parameter>
	<parameter name="Pass" value="rohan1234"></parameter>
	<test name="Test">
		<classes>
			<class name="test.WorkingOnDemoWebShopCart" />
		</classes>
	</test> <!-- Test -->

</suite> <!-- Suite -->
